* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --gray-primary: #4d4d4d;
  --gray-secondary: #232323;
  --gray-third: #2e2e2e;
  --gray: #676767;
  --white: #ffffff;
  --white-button: #fffafa;
  --white-secondary: #f2f2f2;
  --white-third: #fffdfd;
  --red: #f55253;
  --red-button: #f86061;
  --red-secondary: #f54748;
  --pink-primary: #fef5f5;
  --pink-secondary: #fdecec;
  --black: #363636;
  --green: #03a66b;
  --gray-medium: #a5a4a4;
  --yellow: #f9ba45;

  --font-main: "Poppins", sans-serif;
  --font-medium: 500;
  --font-semiBold: 600;
  --font-bold: 700;
}

body {
  font-family: var(--font-main);
  color: var(--gray-primary);
}

input,
button,
form {
  font-family: var(--font-main);
  border: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--gray-primary);
}

li {
  list-style: none;
}

.flex {
  display: flex;
}

.service-context h2,
.explore-content h2,
.delivery-content h2 {
  font-weight: var(--font-bold);
  font-size: 2.5em;
  line-height: 54px;
  text-transform: capitalize;
  color: var(--gray-third);
  margin-top: 8px;
}

.hero-content p,
.explore-content p,
.delivery-content p {
  font-size: 1.125em;
  line-height: 30px;
  color: var(--gray);
}

/*header*/

.header-container {
  max-width: 1024px;
  margin: 32px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-block: 10px;
}

.header-logo {
  max-width: 154px;
}

.header-nav ul {
  gap: 39px;

  font-weight: var(--font-medium);
  line-height: 24px;
}

.header-nav ul li:first-child a {
  color: var(--red);
}

.search-form {
  align-items: center;
  max-width: 300px;

  background: var(--white);
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 13px 20px;

  position: relative;
}

.search-form > svg {
  margin-right: 8px;
}

.search-form input::placeholder {
  font-weight: var(--font-medium);
  font-size: 0.875em;
  line-height: 14px;

  color: var(--gray-secondary);
}

.search-line {
  content: "";
  height: 27px;
  border: 1.5px solid var(--white-secondary);
  display: block;
  margin-right: 16px;
}

.bag-count {
  width: 28px;
  height: 28px;
  background-color: var(--red);
  border-radius: 50%;
  color: var(--white-third);
  text-align: center;
  font-size: 0.875em;
  letter-spacing: 0.005em;
  padding-top: 4px;
  font-weight: var(--font-semiBold);

  position: absolute;
  right: -2px;
  top: -11px;
}

/*section hero-container*/

.hero-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;

  max-width: 1040px;
  margin: 0 auto;
}

.hero-content {
  max-width: 578px;
}

.hero-content > div:nth-of-type(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 214px;
  background-color: var(--pink-secondary);
  border-radius: 23px;
  padding: 11px 20px;
  color: var(--red);
}

.hero-content > div:nth-of-type(1) h4 {
  font-weight: var(--font-medium);
}

.hero-content .hero-strawberry {
  width: 26px;
  height: 24px;
  margin-bottom: -9px;
}

.hero-content h1 {
  font-weight: var(--font-bold);
  font-size: 4.625em;
  line-height: 88px;
  letter-spacing: -0.01em;

  color: var(--gray-third);
  margin-block: 22px;
}

.hero-content p {
  letter-spacing: 0.005em;
  margin-bottom: 60px;
}

.hero-btn {
  gap: 34px;
}

.btn-1,
.btn-2 {
  font-weight: var(--font-medium);
  font-size: 1.25em;
  line-height: 20px;
  cursor: pointer;
}

.btn-1 {
  padding: 25px 40px;
  border-radius: 12px;
  background-color: var(--red-button);
  color: var(--white-button);
}

.hero-btn > div {
  align-items: center;
}

.button-play {
  max-width: 70px;
}

.hero-content .btn-2 {
  color: var(--black);
  background-color: var(--white);
}
/*section services-container*/

.services-container {
  background-color: var(--pink-primary);
  text-align: center;
  margin-block: 100px;
  padding: 100px calc((100% - 1040px) / 2);
}

.service-context h4 {
  font-weight: var(--font-medium);
  font-size: 1.125em;
  line-height: 24px;
  letter-spacing: 0.01em;

  color: var(--red-secondary);
}

.service-context h2 {
  margin-bottom: 69px;
}

.services-cards {
  flex-wrap: wrap;
  gap: 50px;
}

.service-card {
  background-color: var(--white);
  max-width: 300px;
  height: 310px;
  padding: 20px;

  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
}

.img-service {
  width: 90px;
  height: auto;
  margin: 0 auto;
}

.service-card h4 {
  font-weight: var(--font-semiBold);
  font-size: 1.375em;
  line-height: 33px;
  letter-spacing: -0.01em;

  color: var(-gray-third);
  margin-top: 60px;
  margin-bottom: 14px;
}

/*section explore-container*/

.explore-container,
.delivery-container {
  align-items: center;
  gap: 170px;
  max-width: 1024px;
  margin: 140px auto 52px auto;
}

.explore-product,
.delivery-product {
  position: relative;
}

.card-product-explore {
  max-width: 204px;
  margin: 0 auto;
  position: absolute;
  right: -75px;
  top: 150px;
}

.card-product-delivery {
  max-width: 166px;
  margin: 0 auto;
  position: absolute;
  right: -100px;
  top: 130px;
}

.card-product {
  background: var(--white);

  padding: 20px;

  display: flex;
  flex-direction: column;
  border-radius: 12px;
}

.card-product-explore h4 {
  font-weight: var(--font-bold);
  font-size: 1.125em;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: var(--gray-third);
  text-align: center;
}

.card-product-delivery h4 {
  font-weight: var(--font-bold);
  font-size: 16px;
  line-height: 18px;

  text-align: center;
  letter-spacing: -0.01em;

  color: var(--gray-third);
}

.card-product-delivery p {
  font-size: 0.625em;
  line-height: 16px;
  /* or 160% */
  text-align: center;

  color: var(--gray);
  margin-top: 8px;
}

.card-product-explore > span {
  font-weight: var(--font-medium);
  font-size: 0.75em;
  line-height: 12px;

  color: var(--gray-medium);
  margin-top: 8px;
  margin-bottom: 30px;
  text-align: center;
}

.card-product-explore img,
.card-product-delivery img {
  max-width: 126px;
  height: auto;
  margin: 0 auto;
}

.card-product-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-product-price > span {
  font-weight: var(--font-medium);
  line-height: 20px;

  color: var(--gray-third);
}

.card-product-price span:last-child {
  font-weight: var(--font-bold);
  font-size: 1.375em;
  line-height: 20px;
  letter-spacing: -0.01em;

  color: var(--gray-third);
}

.card-product-explore button {
  max-width: 20px;
  align-self: self-end;
  background-color: var(--red-secondary);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}

.explore-content {
  max-width: 394px;
}

.delivery-content {
  max-width: 519px;
}

.explore-content h4 {
  color: var(--green);
}

.delivery-content h4 {
  color: var(--yellow);
}

.explore-content h4,
.delivery-content h4 {
  font-weight: var(--font-medium);
  font-size: 1.125em;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.explore-content h2,
.delivery-content h2 {
  margin-bottom: 22px;
}

.explore-content p,
.delivery-content p {
  margin-bottom: 50px;
}

.delivery-content button {
  color: var(--red-button);
  background-color: transparent;
  border: 1.5px solid var(--red-button);
  border-radius: 12px;
}
